/* Credits to ChatGPT*/

/* General page styles */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-grow: 1;
}

p, thead, tbody {
    font-size: 12px;
}

/* Layout and style for navigation */
nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Content container using flexbox */
.content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 15px;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
    max-width: 100%;
}

.no-content {
    text-align: center;
}

/* section container */
.container{
    flex: 1 1 auto;
    padding: 15px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.container h2{
    text-align: center;
}

/* Table styling for results */
.container table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.container table th,
.container table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

/* Header styling */
.container table th {
    background-color: #333;
    color: white;
}

/* General row background color */
.container table tr {
    background-color: white;
}

/* Altering row pair background color */
.constructor tbody tr:nth-child(4n-3),
.constructor tbody tr:nth-child(4n-2) {
    background-color: white;
}

.constructor tbody tr:nth-child(4n-1),
.constructor tbody tr:nth-child(4n) {
    background-color: #f1f1f1;
}

.container table tr:hover {
    background-color: #d3d3d3;
}

/* Table styling for results placement */
/* 1st place - Gold */
.placement table tr:first-child {
    background-color: gold;
}

/* 2nd place - Silver */
.placement table tr:nth-child(2) {
    background-color: silver;
}

/* 3rd place - Bronze */
.placement table tr:nth-child(3) {
    background-color: #cd7f32;
}