/* 
This file includes styling guided with the help of ChatGPT (OpenAI) and W3School. 
Flexbox layout, grid structure, and various design elements were part of the assistance.
*/
/* General page styles */
header {
    background-color: #333;
    color: #FFFFFF;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

a:hover {
    color: #FF1E00;
}

/* Layout and style for navigation */
nav {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    margin: 0 10px;
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* General layout */
.wrapper {
    height: 100%;
    display: flex;
}

/* Sidebar container */
aside {
    background-color: #F4F4F4;
    border-right: 1px solid #CCC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 15px;
    flex-shrink: 0;
    position: relative;
    overflow-y: auto;
}

aside h2 {
    text-align: center;
}

aside ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

aside li {
    width: 100%;
    margin-bottom: 10px;
}

aside button {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    height: 50px;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;/
}

aside button:hover {
    background-color: #FF1E00;
}

/* Content container using flexbox */
main {
    background-image: url("https://images.alphacoders.com/121/thumb-1920-1215632.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    gap: 20px;
    padding: 15px;
    flex-grow: 1;
    flex-direction: column;
    text-align: center;
}

/* Grid for race info */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.grid p {
    margin: 0;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.grid-simple {
    background-color: #FFFFFF;
    display: grid;
    width: max-content;
    padding: 50px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: left;
}

/* Bottom row container */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* section container */
section {
    flex: 1 1 auto;
    padding: 15px;
    background-color: #F4F4F4;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

section.home {
    flex: none;
    display: flex;
    width: min-content;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #F4F4F4;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

}

.home ul {
    list-style: none;
    padding: 0;
}

section.info,
section.no-content {
    flex: none;
    padding: 15px;
    background-color: #F4F4F4;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

section.api {
    flex: none;
    align-self: center;
    width: 750px;
    padding: 15px;
    background-color: #F4F4F4;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.api ul {
    list-style-type: none;
    padding: 0;
}

.api li {
    margin-bottom: 10px;
}

section h2 {
    text-align: center;
}

/* Table styling for results */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

th,
td {
    border: 1px solid #DDD;
    padding: 10px;
    text-align: center;
}

/* Header styling */
th {
    background-color: #333;
    color: #FFFFFF;
}

/* General row background color */
tr {
    background-color: #FFFFFF;
}

tr:hover {
    background-color: #D3D3D3;
}

/* Altering row pair background color 
    for driver page*/
.driver tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.driver tbody tr:nth-child(even) {
    background-color: #F1F1F1;
}

/* Altering row pair background color 
    for constructor page*/
.constructor tbody tr:nth-child(4n-3),
.constructor tbody tr:nth-child(4n-2) {
    background-color: #FFFFFF;
}

.constructor tbody tr:nth-child(4n-1),
.constructor tbody tr:nth-child(4n) {
    background-color: #F1F1F1;
}

.constructor tbody tr:hover,
.driver tbody tr:hover {
    background-color: #D3D3D3;
}

/* Table styling for results placement */
/* 1st place - Gold */
.placement table tr:first-child {
    background-color: #FFD700;
}

/* 2nd place - Silver */
.placement table tr:nth-child(2) {
    background-color: #C0C0C0;
}

/* 3rd place - Bronze */
.placement table tr:nth-child(3) {
    background-color: #CD7F32;
}